@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<h1 class="display-4">Welcome</h1>
<form method="post">
    <div class="form-group">
        <label for=exampleInputNumber asp-for="FizzBuzz.Name"></label><br />
        <input type="text" class="form-control" asp-for="FizzBuzz.Name" maxlength="100" required>
        <span asp-validation-for="FizzBuzz.Name" class="text-danger"></span>

        <label for=exampleInputNumber asp-for="FizzBuzz.Year"></label><br />
        <input type="number" class="form-control" asp-for="FizzBuzz.Year" min="1899" max="2022" required>
        <span asp-validation-for="FizzBuzz.Year" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>
@if (Model.FizzBuzz.Name != null)
    if (Model.FizzBuzz.Name[Model.FizzBuzz.Name.Length - 1] == 'a')
    {
    if (Model.FizzBuzz.Year % 4 == 0)
        {
            <p>
            @Model.FizzBuzz.Name
                urodziła się w
            @Model.FizzBuzz.Year
                roku.
                To był rok przestępny.
            </p>
        }
        else
        {
            <p>
            @Model.FizzBuzz.Name
                urodziła się w
            @Model.FizzBuzz.Year
                roku.
                To nie był rok przestępny.
            </p>
        }
    }
    else
    {
    if (Model.FizzBuzz.Year % 4 == 0)
        {
            <p>
            @Model.FizzBuzz.Name
                urodził się w
                @Model.FizzBuzz.Year
                roku.
                To był rok przestępny.
            </p>
        }
        else
        {
            <p>
                @Model.FizzBuzz.Name
                urodził się w
                @Model.FizzBuzz.Year
                roku.
                To nie był rok przestępny.
            </p>
        }
    }