@page
@using FizzBuzzWeb.Forms;
@model FizzBuzzWeb.Pages.SavedInSessionModel
@{
    ViewData["Title"] = "Zapisane";
}
<p>Zapisane:</p>
@foreach(FizzBuzzForm FizzBuzz in Model.FizzBuzzList)
{
    if (FizzBuzz.Name != null & FizzBuzz.Name[FizzBuzz.Name.Length-1] == 'a')
    {
        if (FizzBuzz.Year % 4 == 0)
        {
            <p>
                @FizzBuzz.Name
                urodziła się w
                @FizzBuzz.Year
                roku.
                To był rok przestępny.
            </p>
        }
        else
        {
            <p>
                @FizzBuzz.Name
                urodziła się w
                @FizzBuzz.Year
                roku.
                To nie był rok przestępny.
            </p>
        }
    }
    else
    {
        if (FizzBuzz.Year % 4 == 0)
        {
            <p>
                @FizzBuzz.Name
                urodził się w
                @FizzBuzz.Year
                roku.
                To był rok przestępny.
            </p>
        }
        else
        {
            <p>
                @FizzBuzz.Name
                urodził się w
                @FizzBuzz.Year
                roku.
                To nie był rok przestępny.
        </p>
        }
    }
}